{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Welcome</h1>
    <div id="table">
        <table>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>{{name}}</td>
                <td>{{id}}</td>
                <td>{{email}}</td>
            </tr>
        </table>
    </div>
{% endblock %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <h2>Nafis Sadique Ayan</h2>
</body>
</html>
-->