<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'homestyle.css' %}">
    <script src="https://kit.fontawesome.com/2b7970b984.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <h1>CP<span>CR</span></h1>
                <ul id="sidemenu">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>

                    <i class="fas fa-regular fa-circle-xmark" onclick="closemenu()"></i>
                </ul>
                <i class="fas fa-solid fa-bars" onclick="openmenu()"></i>
            </nav>
        </div>

        <div class="header-text">
                
            <h1>Welcome, <span>Sultana Razia</span></h1>
            <p>Dashboard</p>
        </div>
    
        <div class="box">
                {% for i in response %}
                {{i.name}}
                {% endfor %}

                <h4>Codeforces</h4><br>
                <p>
                    Contest Name <br><br>
                    Time Date <br><br>
                    URL 
                </p>
        </div>

        <div class="box">
            <h4>Codeforces</h4><br>
            <p>
                Contest Name <br><br>
                Time Date <br><br>
                URL 
            </p>
        </div>

    </div>

    


    <!-- -----------------------------------------footer----------------------------------- -->

    <div class="copyright -----------------------------------------footer-----------------------------------">
        <p>Copyright © Nafis Sadique Ayan || Sultana Razia || Tasfia Rahman. Made with <i class="fa-solid fa-heart"></i></p>
    </div>
</div>



 <!-- onsubmit="myFunction()">

<script type="text/javascript">
    // get contest site name
    function myFunction(){
        var fname = document.getElementById("fname").value;
        if(fname == '<>')
        alert("Condition met")
    }

    // unix to normal dateTime
    var unixTime = 0; // fill in your epoc time here.
    var isoTime = new Date(unixTime).toISOString()  
    timeEl.textContent = unixTime+' --- '+isoTime+' --- '+new Date(isoTime).toString();
    timeEl.setAttribute('datetime', isoTime )
</script> -->
  
</body>
</html>