<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'homestyle.css' %}">
    <script src="https://kit.fontawesome.com/2b7970b984.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <h1>CP<span>CR</span></h1>
                <ul id="sidemenu">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>

        <div class="header-text">
                
            <h1>Welcome, 
                <span>
                    {{request.user.username}}
                </span>
            </h1>
            <p>Dashboard</p>
        </div>
        {% for x in data %}
        {% if 'BEFORE' in x.phase %}
        <div class="box">
            <h4>Codeforces</h4><br>
            <p>
                Contest ID : {{x.id}} <br>
                Contest Name : {{ x.name }} <br>
                Date and time : {{ x.start_time|date:'Y-m-d H:i' }} <br>
                URL: <a href="https://codeforces.com/contest/{{ x.id }}">https://codeforces.com/contest/{{ x.id }}</a>
            </p>
        </div>
        {% endif %}
        {% endfor %}

        <div class="box">
            <h4>Codeforces</h4><br>
            <p>
                Contest Name : <br><br>
                Time Date <br><br>
                URL 
            </p>
        </div>
    <div class="copyright -----------------------------------------footer-----------------------------------">
        <p>Copyright © Nafis Sadique Ayan || Sultana Razia || Tasfia Rahman. Made with <i class="fa-solid fa-heart"></i></p>
    </div>
</div>
</div>

  
</body>
</html>